<!-- begin footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="footer-widget">
          <h2 class="brand widget-title">Renter Reviews</h2>
          <p class="footer-tag-line">Get a review before renting out</p>
          <p>Check your renters beyond their credit score. Real reviews from real landlords about their experience with the renter.</p>
        </div>
        <!-- .footer-company-info -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Address</h3>
          <div class="clearfix">
            <ul>
              <li class="clearfix">
                <i class="fa fa-map-marker pull-left"></i>
                <p class="pull-left">1680 Washington Avenue
                  <br/>Miami Beach 33139 FL</p></li>
              <li class="clearfix">
                <i class="fa fa-phone pull-left"></i>
                <p class="pull-left">+1 (800) 765 4321</p></li>
              <li class="clearfix">
                <i class="fa fa-envelope pull-left"></i>
                <p class="pull-left"><a href="#">realto@realto.com</a></p>
              </li>
            </ul>
          </div>
          <!-- .clearfix -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Company</h3>
          <ul>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <%= link_to "Home", root_path %></li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <%= link_to "About Us", about_us_path %></li>
            <li>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <%= link_to "Contact Us", contact_us_path %></li>
          </ul>
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
      <div class="span3">
        <div class="footer-widget">
          <h3 class="widget-title">Facebook</h3>
          <div class="flickr-widget">
            <ul>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
              <li class="pull-left"><a title="image" href="#"><img alt="" class="media-object" src="http://placehold.it/70x70"></a></li>
            </ul>
          </div>
          <!-- .flickr-widget -->
        </div>
        <!-- .footer-widget -->
      </div>
      <!-- .span3 -->
    </div>
  </div>
</foote     
<!-- end footer -     